{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Rango</title>
</head>

<body>
    <h1>Rango says...</h1>
    <div>
        hey there partner! <br />
        <strong>{{ boldmessage }}</strong>
    </div>

    <div>
        {% if categories %}
        <ul>
            {% for category in categories %}
            <li><a href="/category/{{ category.slug }}">{{ category.name }}</a></li>
            <br>
            {% endfor %}
        </ul>
        {% else %}
        <strong>There are no categories present.</strong>
        {% endif %}
    </div>

    <div>
        <a href="/about">About Rango</a>
        <br><br>
        <a href="/add_category">Add category</a><br />
        <br><br>
        <img src="{% static 'images/loro.png' %}" alt="Picture of Rango" />
    </div>

</body>

</html>